@font-face {
  font-family: "Author";
  src: url("/fonts/author/Author-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Author";
  src: url("/fonts/author/Author-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Author";
  src: url("/fonts/author/Author-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
